# Motor de Visión y Lógica
mediapipe==0.10.15
protobuf==4.25.3
opencv-python==4.10.0.84
numpy==1.26.4

# Interfaz de Usuario
streamlit==1.41.0

# Testing y Calidad de Código
pytest==8.2.1
pytest-cov==5.0.0
black==24.4.2
flake8==7.1.0
isort==5.13.2
pre-commit==3.7.1
